{%extends 'core/base.html' %} <!--este template hereda de base -->

{% load static %}

{%block title %}Venta{% endblock %}

{% block content %} <!--Pintar el formulario-->
<section class="page-section about-heading">
     <div class="container">
         <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/venta.jpg' %}" alt="">
         <div class="about-heading-content">
             <div class="row">
                 <div class="col-xl-9 col-lg-10 mx-auto">
                     <div class="bg-faded rounded p-5">
                         <h2 class="section-heading mb-4">
                             <span class="section-heading-upper">Haz tu compra ya!</span>
                             <span class="section-heading-lower">Compra de café procesado</span>
                         </h2>
                         <!-- Formulario de compra -->
                         {% if 'ok' in request.GET %}
                             <p><b>Su petición de compra se ha enviada correctamente, favor asistir a la Fecha y Hora seleccionada</b></p>
                        {% endif %}
                         <form action="" method="POST">
                                 {% csrf_token %}
                               <div class="form-group">
                                    <label>Nombre *</label>
                                    <div class="input-group">
                                        {{form.nombre}}
                                    </div>
                                    {{form.nombre.errors}}
                               </div>
                               <div class="form-group">
                                    <label>Email *</label>
                                    <div class="input-group">
                                        {{form.email}}
                                    </div>
                                    {{form.email.errors}}
                                  
                                </div>
                                <div class="form-group">
                                        <label>Telefono *</label>
                                        <div class="input-group">
                                            {{form.telefono}}
                                        </div>
                                        {{form.telefono.errors}}
                                </div>   
                                
                                <div class="form-group">
                                    <label>Cantidad *</label>
                                    <div class="input-group">
                                        {{form.cantidad}}
                                    </div>
                                    {{form.cantidad.errors}}
                                </div>

                                <div class="form-group">
                                    <label>Fecha *</label>
                                    <div class="input-group">
                                        {{form.fecha}}
                                    </div>
                                    {{form.fecha.errors}}
                            </div> 

                            <div class="form-group">
                                <label>Hora *</label>
                                <div class="input-group">
                                    {{form.hora}}
                                </div>
                                {{form.hora.errors}}
                        </div> 
                                   
                                    <div class="text-center">
                                        <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                                    </div>
                         </form>
                              <!-- Fin formulario de compra -->
                   </div>
                </div>
             </div>
           </div>
        </div>   
</section>
{% endblock %}