<!DOCTYPE html>
<html>
<head>
    <title>Login </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
    

<style>

body {
  background-image: url('/media/login/bg-01.jpg');
  background-color: #cccccc;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 5;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
}
input[type=submit]:hover {
    background-color: #45a049;
}


img.avatars {
  width: 40%;
  border-radius: 50%;
  align-content: center;
  
}
</style>

<body>
  
  <div class="img container">
        <img src="/media/login/26b9bd4c-181b-48cf-8607-f67c38023a6e.jfif" alt="Avatar" class="avatars">
   </div>  

  
<div>
  
  <form method="POST" action="{% url 'logins' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}

    {{ form.password.label_tag }}
    {{ form.password }}

    {{ form.errors }}
  
    <input type="submit" value="Login">
  </form>
</div>

</body>



</html>