{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

{% for service in services %}

<section class="page-section">
  <div class="container"> <!--Me abarca todo la pagina-->
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">{{service.subtitle}}</span>
            <span class="section-heading-lower">{{service.title}}</span>
            <span class="section-heading-lower">{{service.price}}</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{service.image.url}}" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{service.content}}</p>

            <!--BOTON COMPRA DE CAFE-->
            {% if service.title == "Compra de café" %} 
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'compra'  %}">Agendar Cita</a>
            </div>
            <br>
            {% endif %}

             <!--BOTON VENTA-->
             {% if service.title == "Venta de café"%}
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'venta'  %}">Agendar Cita</a>
            </div> 
             {% endif %}

             {% if service.title == "Procesado de café"%}
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'venta'  %}">Agendar Cita</a>
            </div> 
             {% endif %}

             <!--BOTON COMPRA DE PRODUCTOS-->
             {% if service.title == "Mantenimiento de plantas de café" %}
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'producto'  %}">Comprar Producto</a>
            </div> 
             {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

{% endblock %}